
.chat {
	list-style:none;
}

.item {
  display: flex;
}

.avatar {
  width: 40px;
}

.avatar img {
  width: 100%;
  display: block;
}

.other {
	text-align: left;
}

.self {
	text-align:right;
	justify-content: flex-end;
	align-items: flex-end;
}

.self .messages {
  order: 1;
  border-bottom-right-radius: 0;
}